.container-box {
  width: 24vh;
  background-color: var(--color-primary);
  height: 100vh;
  padding: 24px 0;
  gap: 16px;
  font-size: 1.4rem;
}
.logo-box {
  text-align: center;
}
.logo-box img {
  width: 70px;
  height: 70px;
}
.button-icon-box {
  width: 198px;
  height: 48px;
  margin-left: 16px;
  gap: 16px;
}
.button-icon {
  font-size: 24px;
}
.nav-link {
  color: white;
  &:hover {
    color: #162d5a;
    background-color: white;
  }
  border-radius: 0;
  transition: border-radius 0s;
}

.nav-link:hover {
  border-radius: 0; // Ghi đè và đặt bo góc về 0 khi hover
}
.nav-item-margin {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
