.Delivery_Page {
  padding: 1.25rem;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  h2 {
    color: rgba(22, 45, 90, 1);
    font-size: 1.375rem; /* Default value for h2 */
    font-weight: bold;
  }

  h3 {
    color: rgba(22, 45, 90, 1);
    font-size: 1.35rem; /* Size for h3 */
  }

  h4 {
    color: rgba(22, 45, 90, 1);
    font-size: 1.3rem; /* Size for h4 */
  }

  p {
    line-height: 1.5;
    font-size: 1rem;
  }

  img {
    display: block;
    margin-top: 1rem;
    width: 100%;
    max-width: 45rem;
    height: auto;
  }

  /* Media queries */
  @media only screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    padding: 1rem;
    width: 80%;

    h2 {
      font-size: 1.25rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    h4 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  /* Additional media queries can be added as needed */
}
