.findglasses__title .title {
  position: absolute;
}

.findglasses__title h2 span {
  font-size: 1rem;
  font-weight: normal;
}
.findglasses__title h2 {
  font-weight: bold;
  font-size: 2rem;
}

.button-find {
  width: 176px;
  height: 48px;
  border: none;
  border-radius: 8px;
}

.btn--color-primary {
  background-color: var(--color-primary);
}

.findglasses__content {
  display: flex;
  justify-content: space-between;
}

.findglasses__content button {
  border: none;
  background-color: transparent;
  color: black;
  font-weight: bold;
}

.glasses-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px; /* Điều chỉnh kích thước khung theo ý muốn */
  height: 88px;
  background-color: #007bff; /* Đổi màu nền theo ý muốn */
  border-radius: 50%;
  margin: 0 auto; /* Canh giữa theo chiều ngang */
  margin-bottom: 10px; /* Dịch chuyển lên một khoảng theo ý muốn */
}

.glasses-icon i {
  font-size: 40px; /* Điều chỉnh kích thước biểu tượng theo ý muốn */
  color: white; /* Đổi màu sắc theo ý muốn */
}
