.admin-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .admin-table th,
  .admin-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .admin-table th {
    background-color: #f2f2f2;
  }
  
  .admin-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .admin-table tbody tr:hover {
    background-color: #f2f2f2;
  }
  
  .admin-table td input[type="checkbox"] {
    margin-right: 5px;
  }
  
//   .admin-table td.action-column {
//     /* Thiết lập kiểu cho cột hành động */
//     /* Nút xóa, sửa, etc. */
//   }
  
  /* Các kiểu khác có thể được thêm vào tùy thuộc vào yêu cầu thiết kế của bạn */
  