.content-box-about-us-page {
  text-align: justify;
  margin: 16px 0;
  gap: 16px;
  color: var(--color-primary);
}
.title-about-us-page {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-primary);
}
.about-us-page-margin {
  margin: 8px 0;
}
.introduction-content {
}
.loyal-customer-content {
  font-size: 16px;
}
.loyal-customer-img {
  border-radius: 12px;
}
.store-image {
  border-radius: 12px;
  width: 30rem;
}
