.intro__item {
  position: relative;
  text-align: center;
}

.choose-glasses {
  width: 548px;
  height: 345px;
  border-radius: 10px;
}

.intro__item button {
  background-color: var(--color-primary);
  position: absolute;
  bottom: 20px; /* Khoảng cách từ bottom */
  left: 50%;
  transform: translateX(-50%);
  border: none;
  width: 128px;
  height: 40px;
  border-radius: 6px;
}

.slider__glasses img {
  width: 270px;
  height: 345px;
}

.slider__glasses {
  width: 548px;
}

.glasses {
  width: 270px;
  border-radius: 10px;
}
