<<<<<<< HEAD
html, body{
=======
/* CSS cho các hàng trong bảng */
.admin-table-admin {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* CSS cho các hàng trong bảng */
.admin-table-admin tbody tr {
  border-radius: 20px; /* Đặt border-radius cho mỗi hàng */
  overflow: hidden; /* Đảm bảo nội dung không vượt qua border-radius */
  background-color: #ffffff; /* Màu nền của hàng */
  border: 1px  #ccc; /* Thiết lập border */
}

.admin-table-admin td.action-column div a {
    display: block;
    margin-bottom: 10px; /* Khoảng cách giữa các dòng */
  }
  

  .admin-table-admin .admin-table-title th,
  .admin-table-admin .admin-table-title td {
  border: none;
  padding: 8px;
  text-align: center;
}

.admin-table-admin .admin-table-title th {
  font-weight: bold;
}

.admin-table-admin .admin-table-body td {
  background-color: #ffffff;
}

.admin-table-admin .admin-table-body td:last-child {
  display: flex;
  align-items: center;
  gap: 8px;
}

.admin-table-admin .admin-table-body img {
  width: 50px; /* Điều chỉnh kích thước hình ảnh avatar tại đây */
  border-radius: 50%; /* Bo tròn hình ảnh avatar */
}

.admin-table-admin .admin-table-body p {
>>>>>>> 39fbb8b44145e1065ba0bc894f617fbed3817096
  margin: 0;
  padding: 0;
  font-family: inter;
}
.admin-management-page {
  display: flex;
  flex-direction: column; /* Đặt hướng chính là dọc */
  align-items: flex-start;
  position: relative;
  background-color: rgba(225, 234, 250, 1);
<<<<<<< HEAD
  width: 100vw;
  height: 100vh;
}

.header {
=======
  padding-left: 20px;
}
.admin-management-page .header {
>>>>>>> 39fbb8b44145e1065ba0bc894f617fbed3817096
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin-management-page .header h2 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
   color: rgba(22, 45, 90, 1);
}

<<<<<<< HEAD
.add-admin-button {
  margin-left: 180px; /* Khoảng cách giữa h2 và button */
=======
.admin-management-page .add-admin-button {
>>>>>>> 39fbb8b44145e1065ba0bc894f617fbed3817096
  padding: 8px 16px;
  background-color: #204387;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 50px;

<<<<<<< HEAD
}
.filter-frame {
=======
.admin-management-page .main-content {
  flex-grow: 1; /* Phần nội dung chính mở rộng để lấp đầy phần còn trống */

  margin: 10px auto; /* Canh giữa theo chiều ngang và chiều dọc */
  max-width: 1100px;
}
//////==================================================
.admin-management-page .filter-frame {
>>>>>>> 39fbb8b44145e1065ba0bc894f617fbed3817096
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 5px;
  gap: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 1000px;

  .filter-row {
    display: flex;
    flex-wrap: wrap; /* Đảm bảo các phần tử con có thể xuống dòng khi không đủ không gian */
    gap: 50px;
    align-items: center;

    input[type="text"],
    select {
      padding: 8px 16px;
      border: 1px solid #204387;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      color: #0e2959;
      transition: background-color 0.3s;
    }

    #reset {
      padding: 8px 16px;
      border: 1px solid #204387;
      border-radius: 4px;
      background-color: #204387;
      color: white;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0e2959;
      }
    }

    button:not(.reset-button) {
      padding: 8px 16px;
      border: 1px solid #204387;
      border-radius: 4px;
      background-color: white;
      color: #204387;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
.admin-table {
  width: 50%; /* Sử dụng chiều rộng 100% của container cha */
  border-collapse: collapse;
  margin-top: 20px;
}

th,td {
  border: none;
  padding: 0x; /* Tăng khoảng cách giữa nội dung và viền của ô */
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #204387; /* Màu nền của ô header */
  color: rgba(22, 45, 90, 1); /* Màu chữ của ô header */
}

td {
  background-color: #ffffff;
}

td:last-child {
  display: flex;
  align-items: center;
  gap: 8px;
}

img {
  width: 30px; /* Điều chỉnh kích thước hình ảnh avatar */
  border-radius: 50%;
}

.action-column a {
  display: block;
  margin-bottom: 8px; /* Khoảng cách giữa các dòng */
  color: #204387; /* Màu chữ của các liên kết trong cột hành động */
  text-decoration: none; /* Loại bỏ gạch chân dưới của liên kết */
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s; /* Hiệu ứng màu chữ khi di chuột qua liên kết */

  &:hover {
    color: #0e2959; /* Màu chữ khi di chuột qua liên kết */
  }
}
