.check-out{
  .main-image {
    img {
        width: 70%;
        object-fit: cover;
        transition: transform 1.2s;
        border-radius: 12px;
    }

}

img:hover {
    box-shadow: 0 4px 8px 0 rgba(6, 233, 195, 0.2), 0 6px 20px 0 rgba(6, 233, 195, 0.2);
    box-sizing: border-box;
}

.content-right {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 /10%), 0 8px 16px rgb(0 0 0 /10%);
    box-sizing: border-box;
    color: #274d8a;
    .forgot-password {
        text-decoration: none;
        color: #03A9F4;
        &:hover {
            text-decoration: underline;
        }
    }
    .form-control::placeholder {
        color: #212529;
    }
    .brand {
        text-transform: uppercase;
        font-size: 20px;
        color: #1877f2;
        text-align: center;
        font-weight: 600;
    }
}
.vnd {
    position: relative;
  }
  .gn000001-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-191xl);
  }
  .gamepad-cart-small-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  .tm-tnh-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .tm-tnh-parent {
    width: 525px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-281xl);
  }
  .ph-vn-chuyn-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-242xl);
  }
  .frame-container {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .tng-cng-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-266xl);
  }
  .frame-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .radio-button-icon {
    position: relative;
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
  .radio-button-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .bkash-parent {
    width: 195px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
  }
  .frame-parent2 {
    width: 473px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-36xl);
  }
  .radio-button-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .tm-tnh {
    width: 473px;
    height: 502px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    text-align: left;
    font-size: var(--title-16px-medium-size);
    color: var(--text2);
    font-family: var(--pre-subs);
  }
  
}
