:root {
  --color-primary: #162d5a;
  --color-secondary: #346bd9;
  --header-height: 88px;
  --color-background-admin: #fdfdfd;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-color-default {
  color: var(--color-primary);
}
.button-primary {
  color: white;
  background-color: #162d5a;
  font-weight: bold;
  border-radius: 6px;
  border: none;
}
.button-secondary {
  color: #162d5a;
  background-color: white;
  font-weight: bold;
  border-radius: 6px;
  border: none;
}
