.featured-products--container {
  width: 1120px;
  margin: 0 auto;
  height: 270px;
  position: relative;
}

.featured-card {
  width: 196px;
  height: 260px;
  border-radius: 15px;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.featured-card img {
  width: 196px;
}

.btn-color {
  background-color: #b4b4b4;
}
