.content {
<<<<<<< HEAD
  text-align: justify;
  text-align: center;
}
=======
  margin: 240px 0;
}

>>>>>>> aa2e1cbcabbc33c9303945eda500058cf0e1769f
.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #204387;
<<<<<<< HEAD
}
=======
}
>>>>>>> aa2e1cbcabbc33c9303945eda500058cf0e1769f
