/* CSS for the content of the payment page */
.Payment_Page {
  padding: 1.25rem;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa theo chiều ngang */
  text-align: left; /* Căn trái cho văn bản */

  .Content_Payment {
    width: 100%; /* Đảm bảo chiều rộng của nội dung là 100% */
    max-width: 100%; /* Tối đa chiều rộng cho nội dung */
    margin-right: auto; /* Canh trái */
    margin-left: auto; /* Canh phải */
  }
  .title {
    color: rgba(22, 45, 90, 1);
    font-size: 1.375rem; /* Default value for titles */
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      font-weight: bold;
      margin-top: 1rem;
    }

    p {
      line-height: 1.5;
      margin-bottom: 1rem;
    }
  }

  img {
    width: 100%;
    max-width: 45rem; /* Sử dụng 100% chiều rộng */
    height: auto;
  }
}

/* Media queries */
@media (min-width: 576px) {
  .Payment_Page {
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }

    .col-md-6 {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

@media (min-width: 768px) {
  .Payment_Page {
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}



@media (min-width: 1200px) {
  .Payment_Page {
    .col-xl-10 {
      flex: 0 0 33.333333%;
      max-width: 100%;
    }
  }
}
