/* Common styles for both Payment_Page and Content_Payment */
.Payment_Page,
.Content_Payment {
  padding: 20px;

  li {
    font-weight: bold;
  }
}

/* Additional styles for Payment_Page */
.Payment_Page {
  /* Add specific styles for Payment_Page if needed */
}

/* Responsive Styles (if needed) */
@media only screen and (max-width: 600px) {
  /* Styles for screens up to 600px wide (typical phone) */
  .Payment_Page,
  .Content_Payment {
    padding: 10px; /* Adjust padding for smaller screens if needed */
  }
}
