.pagination-item {
  display: inline-block;
  margin: 0 auto;
}

.product-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.product-content {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

nav {
  margin: 0 auto;
}
