.sidebar-tile {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.sidebar {
<<<<<<< HEAD
  width: 304px;
  height: 100%;
=======
>>>>>>> aa2e1cbcabbc33c9303945eda500058cf0e1769f
  border-right: 2px solid #e5e5e5;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.logo-container {
  margin-bottom: 4rem;
}

.logo-container h1 {
  margin-top: 1.3rem;
}
