.main-image {
    overflow: hidden;

    img {
        width: 70%;
        object-fit: cover;
        transition: transform 1.2s;
        border-radius: 12px;


    }

    img:hover {
        transform: scale(1.3);
    }
}




.small-img {
    img {
        padding: 0.25rem;
        border-radius: 12px;

    }
}

.productName {
    color: #81c8c2;
}

.price {
    width: fit-content;
    background-color: #2D4859;
    color: white;
    border-radius: 15px;
}



.count {
    width: 10rem;
    color: #81c8c2;

}