.main-image {
    img {
        width: 70%;
        object-fit: cover;
        transition: transform 1.2s;
        border-radius: 12px;
    }

}

img:hover {
    box-shadow: 0 4px 8px 0 rgba(6, 233, 195, 0.2), 0 6px 20px 0 rgba(6, 233, 195, 0.2);
    box-sizing: border-box;
}

.content-right {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 /10%), 0 8px 16px rgb(0 0 0 /10%);
    box-sizing: border-box;
    color: #274d8a;
    .forgot-password {
        text-decoration: none;
        color: #03A9F4;
        &:hover {
            text-decoration: underline;
        }
    }
    .form-control::placeholder {
        color: #212529;
    }
    .brand {
        text-transform: uppercase;
        font-size: 20px;
        color: #1877f2;
        text-align: center;
        font-weight: 600;
    }
}
