.modal {
    --bs-modal-width: 800px;
}
.modal-content {
    background-color: #f0f2f5;;
}
.content-right {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 /10%), 0 8px 16px rgb(0 0 0 /10%);
    box-sizing: border-box;

    .forgot-password {
        text-decoration: none;
        color: #03A9F4;
        &:hover {
            text-decoration: underline;
        }
    }
    .form-control {
        color: #212529;
    }
    .form-control::placeholder {
        color: #212529;
    }
    .brand {
        text-transform: uppercase;
        font-size: 20px;
        color: #1877f2;
        text-align: center;
        font-weight: 600;
    }
}
.content-left {
    margin-top: 50px;
    .brand {
        text-transform: uppercase;
        font-size: 30px;
        color: #1877f2;
    }
    .detail {
        font-size: 25px;
    }
    img {
        width: 300px
    }
}