.Warranty_Page {
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 70%;

  h1 {
    color: rgba(22, 45, 90, 1);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  p {
    line-height: 1.5;
  }
}

@media only screen and (min-width: 600px) {
  /* Cho tablet và màn hình lớn hơn */
  .Warranty_Page {
    padding: 30px;

    h1 {
      font-size: 30px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  /* Cho màn hình desktop */
  .Warranty_Page {
    padding: 40px;

    h1 {
      font-size: 40px;
    }
  }
}
@media only screen and (max-width: 720px) {
  .Warranty_Page{
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    img {
      width: 300px; /* Đặt chiều rộng là 300px */
      height: 200px; /* Đặt chiều cao là 200px */
    }}}