.th-sn-phm {
    position: relative;
  }
  .button1 {
    border-radius: var(--br-7xs);
    background-color: var(--font);
    width: 256px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 22px;
    color: var(--color-white);
    font-family: var(--pre-subs);
  }
  