.carousel-item>img,
.carousel-item :active>img {
    height: 250px;
}

.carousel-item,
.carousel-item :active {
    transition: transform 0.6s ease;
}


.top {
    background-color: #162D5A;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: white;

    .btn {
        height: fit-content;
    }
}

.bot {
    background-color: #204387;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}