/* AdminPromotionManagementPage.scss */

.promotion-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .promotion-list-table th {
    background-color: #f3f3f3;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .promotion-list-table th,
  .promotion-list-table td {
    padding: 12px;
    text-align: left;
  }
  
  .promotion-list-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .promotion-list-table tbody tr:hover {
    background-color: #f0f0f0;
  }
  
  .promotion-list-table tbody tr:last-child td {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .promotion-list-table td {
    border-bottom: 1px solid #ccc;
  }
  
  /* Nếu bạn không muốn border-bottom cho hàng cuối cùng */
  .promotion-list-table tbody tr:last-child td {
    border-bottom: none;
  }
  